*{
    margin:0;
    padding:0;
}
.container{
    height: 100vh;
    background-repeat:no-repeat;
    background-size: contain;
}


:root{
    --cor-principal:#FFFFFF;
    --cor-secundaria:#000000;
    --cor-de-botao:#FFFFFF;
    --cor-de-fundo:#000000;
}

body{
    background-color:var(--cor-de-fundo);
    color:var(--cor-principal);
}
.principal{
    background-image: url("img/Background.png");
}
